<div class="container-fluid">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="contact us">
      <ng-template ngbPanelContent>
      <p>We value your feedback </p><br>
      You can mail us through: &nbsp; &nbsp; <i><b> P.O.Box 3789-00506 Nairobi </b></i>
      <br>E-mail us through: &nbsp; &nbsp; <i><b>info@kertexglobal.co.ke</b></i> <br>
      <b>tel:</b> +254722236207 <br>
      Visit us at our offices at: &nbsp; &nbsp; 
      <i><b>
        Nairobi west shopping center Magaribi plaza
      </b></i> <br>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
      <span>&#9733; <b>kertex</b> directors &#9733;</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col align-content-center align-content-md-around">
            <img src="../.././../assets/img/20210108_080840.jpeg" alt="Njenga" height="100px" width="100px">
            J.M.Njenga
          </div>
           <div class="col align-content-center">
            <img src="../.././../assets/img/20210108_112017.jpg" alt="Kinyanjui" height="100px" width="100px"> D.K.Kinyanjui   
          </div>
         </div>
     </ng-template>
    </ngb-panel>
    <ngb-panel title="Regulatiors">
      <ng-template ngbPanelContent>
        <b>kertex</b> is regulates by:- <br>
          <a href="https://agricultureauthority.go.ke/index.php/en/">Agriculture Food Authority(AFA)</a> <br>
          <a href="https://horticulture.agricultureauthority.go.ke/">Horticultural Crop Directory (HCD)</a>
          <a href="https://tea.agricultureauthority.go.ke/">Tea board of Kenya (TBK)</a>
          <a href="https://www.kephis.org/">Kenya Plant Health Inspection Service(KEPHIS)</a>
          <a href="http://www.ico.org/">International Coffee Organisation(ICO)</a>

      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
