<div class="container">
  
      <div class=" row">
        <div class="col align-content-center">
          <img src="../../../assets/img/sprinkler.jpg" alt="" srcset="">
        </div>
        <div class="col align-content-center">
          <img src="../../../assets/img/havesting.jpg" alt="" srcset="">
        </div>
        <div class="col align-content-center">
          <img src="../../../assets/img/eco-pulper-the-machine-kenya.jpg" alt="" srcset="">
        </div>
      </div>
      <div class=" row">
        <div class="col align-content-center">
          <img src="../../../assets/img/havesting.jpg" alt="" srcset="">
          <p></p>
        </div>
        <div class="col align-content-center">
          <img src="../../../assets/img/tractor.jpg" alt="" srcset="">
        </div>
        <div class="col align-content-center">
          <img src="../../../assets/img/milking.jpg" alt="" srcset="">
        </div>
      </div>
</div>
