<div class="container-fluid">
    <!-- This is the  header section where the company brand name 
    and the log are found 
-->
    <!-- <div class="row header">
        <header></header>
    </div> -->
    <!-- This is the div content that changes with time depending on 
    the choosen menu
 -->
    <div class="row home">
        <div class="col">
            <home></home>
        </div>     
    </div>
    
    <div class="row foot">
        <div class="col-12">
            <footer></footer>
        </div>
        
    </div>
</div>