<div class="container">
  
    <div class=" row">
      <div class="col align-content-center">
        <img src="../../../assets/img/bbbb.jpg" alt="" srcset="">
        <p>beans</p>
      </div>
      <div class="col align-content-center">
        <img src="../../../assets/img/peas.jpg" alt="" srcset="">
         <p>peas</p>
      </div>
      <div class="col align-content-center">
        <img src="../../../assets/img/Black_peas.jpg" alt="" srcset="">
        <p>black peas</p>
      </div>
    </div>
    <div class=" row">
      <div class="col align-content-center">
        <img src="../../../assets/img/Wheat.JPG" alt="" srcset="">
        <p>wheat</p>
      </div>
      <div class="col align-content-center">
        <img src="../../../assets/img/root_tubers.jpg" alt="" srcset="">
        <p>root Tubers</p>
      </div>
      <div class="col align-content-center">
        <img src="../../../assets/img/millet.jpg" alt="" srcset="">
        <p>Millet</p>
      </div>
    </div>
  </div>
  
