<div class="container">
  
  <div class=" row">
    <div class="col align-content-center">
      <img src="../../../assets/img/mango.jpg" alt="" srcset="">
      <p>Mango</p>
    </div>
    <div class="col align-content-center">
      <img src="../../../assets/img/ovacado.jpg" alt="" srcset="">
      <p>Ovacado</p>
    </div>
    <div class="col align-content-center">
      <img src="../../../assets/img/french_beans.jpg" alt="" srcset="">
      <p>French beans</p>
    </div>
  </div>
  <div class=" row">
    <div class="col align-content-center">
      <img src="../../../assets/img/carrot.jpg" alt="" srcset="">
      <p>Carrots</p>
    </div>
    <div class="col align-content-center">
      <img src="../../../assets/img/cucumbers.jpg" alt="" srcset="">
      <p>Cucumbers</p>
    </div>
    <div class="col align-content-center">
      <img src="../../../assets/img/chilies.jpg" alt="" srcset="">
      <p>Chilies</p>
    </div>
  </div>
</div>
