<div class="container">
  
  <div class=" row">
    <div class="col align-content-center">
      <img src="../../../assets/img/tea.jpg" alt="" srcset="">
      <p>Tea</p>
    </div>
    <div class="col align-content-center">
      <img src="../../../assets/img/coffee.jpg" alt="" srcset="">
      <p>coffee</p>
    </div>
  </div>
  <div class=" row">
    <div class="col align-content-center">
      <img src="../../../assets/img/honey.jpg" alt="" srcset="">
      <p>honey</p>
    </div>
    <div class="col align-content-center">
      <img src="../../../assets/img/timber.jpg" alt="" srcset="">
      <p>timber</p>
    </div>
    <div class="col align-content-center">
      <img src="../../../assets/img/t-product.jpg" alt="" srcset="">
      <p>Timber products</p>
    </div>
  </div>
</div>
